:root {
    --white: #ffffff;
    /* CSS 변수 정의 */
    --black: #000000;
    --adaptiveOpacity50: rgba(0, 23, 51, 0.02);
    --adaptiveOpacity100: rgba(2, 32, 71, 0.05);
    --adaptiveOpacity200: rgba(0, 27, 55, 0.1);
    --adaptiveOpacity300: rgba(0, 29, 58, 0.18);
    --adaptiveOpacity400: rgba(0, 25, 54, 0.31);
    --adaptiveOpacity500: rgba(3, 24, 50, 0.46);
    --adaptiveOpacity600: rgba(0, 19, 43, 0.58);
    --adaptiveOpacity700: rgba(3, 18, 40, 0.7);
    --adaptiveOpacity800: rgba(0, 12, 30, 0.8);
    --adaptiveOpacity900: rgba(2, 9, 19, 0.91);
    --adaptiveDisabledBlue500: #c9e2ff;
    --adaptiveBackground: #ffffff;
    --adaptiveLayeredBackground: #ffffff;
    --adaptiveFloatBackground: #ffffff;
    --adaptiveDimmedBackground: rgba(0, 0, 0, 0.2);
    --adaptiveHairlineBorder: #e5e8eb;
    --adaptiveGreyBackground: #f2f4f6;
    --adaptiveGrey50: #f9fafb;
    --adaptiveGrey100: #f2f4f6;
    --adaptiveGrey200: #e5e8eb;
    --adaptiveGrey300: #d1d6db;
    --adaptiveGrey400: #b0b8c1;
    --adaptiveGrey500: #8b95a1;
    --adaptiveGrey600: #6b7684;
    --adaptiveGrey700: #4e5968;
    --adaptiveGrey800: #333d4b;
    --adaptiveGrey900: #191f28;
    --adaptiveGreyOpacity50: rgba(0, 23, 51, 0.02);
    --adaptiveGreyOpacity100: rgba(2, 32, 71, 0.05);
    --adaptiveGreyOpacity200: rgba(0, 27, 55, 0.1);
    --adaptiveGreyOpacity300: rgba(0, 29, 58, 0.18);
    --adaptiveGreyOpacity400: rgba(0, 25, 54, 0.31);
    --adaptiveGreyOpacity500: rgba(3, 24, 50, 0.46);
    --adaptiveGreyOpacity600: rgba(0, 19, 43, 0.58);
    --adaptiveGreyOpacity700: rgba(3, 18, 40, 0.7);
    --adaptiveGreyOpacity800: rgba(0, 12, 30, 0.8);
    --adaptiveGreyOpacity900: rgba(2, 9, 19, 0.91);
    --adaptiveBlue50: #e8f3ff;
    --adaptiveBlue100: #c9e2ff;
    --adaptiveBlue200: #90c2ff;
    --adaptiveBlue300: #64a8ff;
    --adaptiveBlue400: #4593fc;
    --adaptiveBlue500: #3182f6;
    --adaptiveBlue600: #2272eb;
    --adaptiveBlue700: #1b64da;
    --adaptiveBlue800: #1957c2;
    --adaptiveBlue900: #194aa6;
    --adaptiveRed50: #ffeeee;
    --adaptiveRed100: #ffd4d6;
    --adaptiveRed200: #feafb4;
    --adaptiveRed300: #fb8890;
    --adaptiveRed400: #f66570;
    --adaptiveRed500: #f04452;
    --adaptiveRed600: #e42939;
    --adaptiveRed700: #d22030;
    --adaptiveRed800: #bc1b2a;
    --adaptiveRed900: #a51926;
    --adaptiveOrange50: #ffe0b0;
    --adaptiveOrange100: #ffe0b0;
    --adaptiveOrange200: #ffcd80;
    --adaptiveOrange300: #ffbd51;
    --adaptiveOrange400: #ffa927;
    --adaptiveOrange500: #fe9800;
    --adaptiveOrange600: #fb8800;
    --adaptiveOrange700: #f57800;
    --adaptiveOrange800: #ed6700;
    --adaptiveOrange900: #e45600;
    --adaptiveYellow50: #fff9e7;
    --adaptiveYellow100: #ffefbf;
    --adaptiveYellow200: #ffe69b;
    --adaptiveYellow300: #ffdd78;
    --adaptiveYellow400: #ffd158;
    --adaptiveYellow500: #ffc342;
    --adaptiveYellow600: #ffb331;
    --adaptiveYellow700: #faa131;
    --adaptiveYellow800: #ee8f11;
    --adaptiveYellow900: #dd7d02;
    --adaptiveGreen50: #f0faf6;
    --adaptiveGreen100: #aeefd5;
    --adaptiveGreen200: #76e4b8;
    --adaptiveGreen300: #3fd599;
    --adaptiveGreen400: #15c47e;
    --adaptiveGreen500: #03b26c;
    --adaptiveGreen600: #02a262;
    --adaptiveGreen700: #029359;
    --adaptiveGreen800: #028450;
    --adaptiveGreen900: #027648;
    --adaptiveTeal50: #edf8f8;
    --adaptiveTeal100: #bce9e9;
    --adaptiveTeal200: #89d8d8;
    --adaptiveTeal300: #58c7c7;
    --adaptiveTeal400: #30b6b6;
    --adaptiveTeal500: #18a5a5;
    --adaptiveTeal600: #109595;
    --adaptiveTeal700: #0c8585;
    --adaptiveTeal800: #097575;
    --adaptiveTeal900: #076565;
    --adaptivePurple50: #f9f0fc;
    --adaptivePurple100: #edccf8;
    --adaptivePurple200: #da9bef;
    --adaptivePurple300: #c770e4;
    --adaptivePurple400: #b44bd7;
    --adaptivePurple500: #a234c7;
    --adaptivePurple600: #9128b4;
    --adaptivePurple700: #8222a2;
    --adaptivePurple800: #73228e;
    --adaptivePurple900: #65237b;
    --adaptiveBackgroundDimmed: rgba(0, 0, 0, 0.2);
    --adaptiveBackgroundLevelB01: #f2f4f6;
    --adaptiveBackgroundLevel01: #ffffff;
    --adaptiveBackgroundLevel02: #ffffff;
    --tHairlineBackground: repeat-x url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgba(0, 0, 33, 0.07)' x='0' y='0' width='1' height='0.5'/></svg>");
    --tGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    --tGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    --tGradientToRight: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    --tGradientToLeft: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
    --tLayeredGradientToTop: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
    --tLayeredGradientToBottom: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
    --tRadioIndicatorBackgroundColor: #ffffff;
    --tToastBackground: rgba(25, 31, 40, 0.54);
    --tDarkFillButtonBackground: #4e5968;
    --tPrimaryWeakButtonBackground: #e8f3ff;
    --tDangerWeakButtonBackground: #ffeeee;
    --tDarkWeakButtonBackground: #f2f4f6;
    --tLightWeakButtonBackground: rgba(222, 222, 255, 0.19);
    --tButtonPressedAfterBackground: transparent;
    --tPrimaryWeakButtonPressedBackground: rgba(49, 130, 246, 0.26);
    --tDangerWeakButtonPressedBackground: rgba(244, 67, 54, 0.26);
    --tDarkWeakButtonPressedBackground: rgba(78, 89, 104, 0.26);
    --tLightWeakButtonPressedBackground: rgba(255, 255, 255, 0.26);
    --tBlueBadgeColor: #1b64da;
    --tBlueBadgeBackground: rgba(49, 130, 246, 0.16);
    --tTealBadgeColor: #0c8585;
    --tTealBadgeBackground: rgba(0, 129, 138, 0.16);
    --tGreenBadgeColor: #029359;
    --tGreenBadgeBackground: rgba(2, 162, 98, 0.16);
    --tRedBadgeColor: #d22030;
    --tRedBadgeBackground: rgba(244, 67, 54, 0.16);
    --tYellowBadgeColor: #dd7d02;
    --tYellowBadgeBackground: rgba(255, 179, 49, 0.16);
    --tElephantBadgeColor: #4e5968;
    --tElephantBadgeBackground: rgba(78, 89, 104, 0.16);
    --tSwiperBulletBackground: rgba(232, 232, 253, 0.36);
    --tListRowDisabledBackground: rgba(253, 253, 255, 0.75);
}

body {
    font-family: 'Toss Product Sans', 'Tossface', -apple-system, BlinkMacSystemFont, 'Bazier Square', 'Noto Sans KR', 'Segoe UI', Apple SD Gothic Neo, Roboto, 'Noto Sans KR', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    overflow-wrap: break-word;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

svg {
    overflow: hidden
}

img,
svg {
    vertical-align: middle;
}

header {
    position: fixed;
    border-bottom: 1px solid transparent;
    display: flex;
    background-color: var(--white);
    left: 0;
    transition: background-color .2s ease;
    width: 100%;
}

header svg {
    width: auto;
    height: 20px;
}

ol, ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}